body {
  text-align: center;
}

a {
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  display: block;
  margin: 10px 0 10px 0;
  max-width: 300px;
}

img {
  max-width: 800px;
  margin: 0 auto;
}
